.third-screen-block {
  padding-top: 1.875rem;
  background-image: url('../../../../public/img/background2.jpg');
  .content {
    padding-top: 3.875rem;
    padding-bottom: 3.125rem;
    .title {
      padding-bottom: 5.625rem;
    }
    p {
      font-size: 3.125rem;
      font-weight: 700;
      padding: 0 5.4375rem 2.5rem;
      @media (max-width: 859px) {
        font-size: 2.5rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
      }
      @media (max-width: 559px) {
        font-size: 1.625rem;
      }
      @media (max-width: 420px) {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.375rem;
      }
    }
    .action {
      text-align: left;
      margin-top: 3.4375rem;
      background: $pink;
      padding: 1.25rem 1.25rem;
      display: flex;
      align-items: center;
      border-radius: 5px;
      justify-content: space-between;
      @media (max-width: 420px) {
        padding: 1.25rem;
      }
      .action-text {
        font-size: 1.25rem;
        line-height: 1.4;
        @media (max-width: 559px) {
          font-size: 1.125rem;
        }
        @media (max-width: 420px) {
          font-size: 1rem;
        }
        a {
          color: $white;
        }
        span {
          font-weight: 700;
        }
      }
      .number-block {
        padding: 0.8125rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        @media (max-width: 859px) {
          display: none;
        }
        .number {
          font-weight: 700;
          font-size: 3.125rem;
          padding-right: 10px;
          letter-spacing: 2px;
        }
        img {
          height: 30px;
        }
      }
    }
  }
  .copyright {
    font-size: 0.875rem;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.502);
    padding-bottom: 3.125rem;
    a {
      color: rgba(255, 255, 255, 0.502);
      &:hover {
        color: $white;
      }
    }
  }
}
