.second-screen-block {
  padding-top: 1.875rem;
  padding-bottom: 5.375rem;
  .header {
    display: flex;
    .logo {
      fill: $red;
    }
  }
  .content {
    text-align: center;
    padding-top: 3.875rem;
    .title {
      padding-bottom: 5rem;
    }
    .services-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 30px;
      //grid-column-gap: 30px;
      padding-bottom: 3.125rem;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        padding: 0 15px;
        .name {
          padding-top: 1.375rem;
          font-size: 1.25rem;
        }
      }
      .text-a {
        grid-column: 1 / -1;
        font-size: 1rem;
        background: $grey-background;
        border-radius: 10px;
        border: 1px solid #afafb0;
        text-align: left;
        position: relative;
        padding: 1.5625rem 2.8125rem;
        z-index: 16;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          z-index: 15;
          width: 18px;
          height: 18px;
          border: 1px solid red;
          border-width: 1px 0 0 1px;
          transform: rotate(45deg) translate(-9px, -9px);
          transform-origin: 0 0;
          box-sizing: border-box;
          left: var(--selected-item-arrow-left);
        }
      }

    }
  }
}
