.first-screen-block {
  color: $white;
  background-image: url('../../../../public/img/background1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .header {
    padding-top: 2.3125rem;
    display: flex;
    position: relative;
    @media (max-width: 420px) {
      flex-direction: column;
      padding-top: 1.25rem;
    }
    .logo {
      fill: $white;
      position: absolute;
      @media (max-width: 420px) {
        position: static;
      }
    }
    .text {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
      margin: 0 auto;
      @media (max-width: 420px) {
        padding-top: 25px;
      }
    }
  }
  .content {
    text-align: center;
    padding-top: 7.625rem;
    @media (max-width: 420px) {
      padding-top: 4.375rem;
    }
    h1 {
      padding-bottom: 4.0625rem;
    }
    .form-block {
      padding-bottom: 2.1875rem;
    }
    .btn-def {

    }
  }
  .button-down {
    display: flex;
    justify-content: center;
    padding-top: 8.625rem;
    padding-bottom: 3.75rem;
    cursor: pointer;
  }
}

