.first-screen-block {
  background-image: url('../../../../public/img/background1.jpg');
  padding-bottom: 3.75rem;
  .header {
    padding-top: 2.3125rem;
    position: relative;
    @media (max-width: 420px) {
      flex-direction: column;
      padding-top: 1.25rem;
    }
    .logo {
      position: absolute;
      @media (max-width: 420px) {
        position: static;
      }
    }
    .text {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
      margin: 0 auto;
      @media (max-width: 420px) {
        padding-top: 25px;
      }
    }
  }
  .content {
    padding-top: 7.625rem;
    padding-bottom: 8.625rem;
    @media (max-width: 859px) {
      padding-top: 4.375rem;
    }
    @media (max-width: 650px) {
      padding-top: 3.125rem;
    }
    h1 {
      padding-bottom: 4.0625rem;
    }
    .form-block {
      padding-bottom: 5.3125rem;
    }
  }
}

