@font-face {
  font-family: "PTSansCaption";
  src: url("../../public/fonts/PTSansCaptionBold/PTSansCaptionBold.woff"),
  url("../../public/fonts/PTSansCaptionBold/PTSansCaptionBold.ttf"),
  url("../../public/fonts/PTSansCaptionBold/PTSansCaptionBold.eot");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../public/fonts/PTSansCaptionRegular/PTSansCaptionRegular.woff"),
  url("../../public/fonts/PTSansCaptionRegular/PTSansCaptionRegular.ttf"),
  url("../../public/fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../../public/fonts/MyriadPro/MyriadPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
