:root {
  --selected-item-arrow-left: 12.5%
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PTSansCaption', sans-serif;
  color: $color-font;
}

.container {
  margin: 0 auto;
  width: 90%;
  @media (min-width: 859px) {
    max-width: 1092px;
    min-width: 819px;
  }
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  line-height: 1.3;
  @media (max-width: 858px) {
    font-size: 2rem;
  }
  @media (max-width: 420px) {
    font-size: 1.625rem;
  }
}

.title {
  text-align: center;
  font-size: 2.1875rem;
  font-weight: 700;
  @media (max-width: 859px) {
    font-size: 1.875rem;
  }
}

p {
  margin: 0;
  line-height: 1.3;
}

a {
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

.buttons {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 28px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .circle {
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 2px solid $color-font;
    background: $white;
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &.active{
      border-color: $white;
      background: $color-font;
    }
    &:hover {
      background: $color-font;
    }
  }
}

.fade-enter-active, .fade-leave-active{
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
