$white: #ffffff;
$grey: #5f6062;
$green: #77b53c;
$pink: #df4a5e;
$red: #b22725;
$color-font: #333333;
$button-hover: #5d902b;
$button-hover-form: #4b4c4d;
$grey-background: #f7f7f7;
$border-color: #afafb0
